

.content
{
    width: 100%;
}





/*--------------------------------------*/
/*スライド*/
/*--------------------------------------*/
#slider 
{
    width: 100%;
    min-height: 700px;
    margin:0 auto;
    background-color: var(--background-c);
}


#slider .slider-inner 
{
    position: relative;
    top: 0;
    left: 0;
    width: 680px;
    height: 520px;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 10px;
}

#slider .slider-inner li
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    list-style:none;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    transition: all 600ms;
    pointer-events: none;
}


#slider .slider-inner li img
{
    width: 100%;
    height: 100%;
}

#slider .slider-inner li.show 
{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    pointer-events: auto;
}

/*画面チェンジボタン*/
#slider #Fbutton-inner
{
    width: 100px;
    height: 60px;
    margin: 0 auto;
}
#slider  #Fbutton-inner #foot-button
{
    width: 100%;
    height: 100%;
    /*transition: all 0.3s;*/
    
}

#slider  #Fbutton-inner .scale
{
    animation: b-scale 0.6s;
    /*transform: scale(1.5,1.5);*/
}
@keyframes b-scale
{
    0% { transform: scale(1);}
    25% { transform: scale(0.7);}
    50% { transform: scale(1.2);}
    75% { transform: scale(0.8);}
    100% { transform: scale(1);}
}



/*前置き*/
#slider .message
{
    margin: 10px auto;
    padding-left: 50px;
}
#slider .message #Preface
{
    margin: auto 0;
    font-size: 40px;
}
#slider .message .mes-p
{
    display: table;
    width: 580px;
    margin: 30px;
    margin-top: 30px;  
    & > p 
    {
        display: table-cell;
        vertical-align: middle;
        text-align:left;
        line-height: 30px;
    }
}








/*--------------------------------------*/
/*リストボックス*/
/*--------------------------------------*/
#select
{
    margin:10px auto 10px;    
}

#select .div-content
{
    background-color: var(--background-c2);
}

#select h2
{
    text-align: center;
}

#select .more
{
    text-align: right;
    margin-right: 50px;
}


/*リストボックスのレイアウト*/
.list
{
    position: relative;
    min-width: 800px;
}

.list .list-box 
{
    width: 260px;
    height: 300px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    border: 1px solid var(--main-c);
    border-radius: 10px;
    background-color: var(--accent-c);
}
.list .list-box img
{
    width: 100%;
}
.list .list-box h3
{
    width: auto;
    border: none;
    height: 30px;
    padding: auto 0;
    margin: 0;
}







/*--------------------------------------*/
/*ランキング*/
/*--------------------------------------*/
#ranking
{
    margin:10px auto 0;
}
#ranking .div-content
{
    background-color: var(--background-c);
}

#ranking h2
{
    text-align: center;
}
#ranking table
{
    width:400px;
    height: 500px;
    margin:10px auto 10px;
    background-color: var(--main-c);
}
